<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form homepage</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.2/css/bootstrap.min.css} "/>
</head>
<body>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div style="padding-top: 20px">
                <a th:href="@{/create}" class="btn btn-success">Create new User</a>
            </div>
        </div>
        <br>
        <div class="notify">
            <div class="text-success" th:if="${success}">
                <span th:text="${success}"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-wrap">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Phone</th>
                            <th>Age</th>
                            <th>Email</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user: ${userList}">
                            <td th:text="${user.id}"></td>
                            <td th:text="${user.firstName}"></td>
                            <td th:text="${user.lastName}"></td>
                            <td th:text="${user.phone}"></td>
                            <td th:text="${user.age}"></td>
                            <td th:text="${user.email}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>